/* reset.css */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
menu,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
main,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section {
  display: block;
}
/* HTML5 hidden-attribute fix for newer browsers */
*[hidden] {
  display: none;
}
body {
  /* line-height: 1; */
}
menu,
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-size: 0.16rem;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
  font-family: 'Source Sans Pro', Helvetica;
}
a {
  color: white;
  text-decoration: none;
  cursor: pointer;
}
a:hover {
  text-decoration: underline;
}
button {
  width: 1.6rem;
  height: 0.5rem;
  background: white;
  border: 0.02rem solid white;
  opacity: 1;
  border-radius: 0.04rem;
  font-size: 0.2rem;
  outline: none;
  cursor: pointer;
}
button:disabled {
  background-color: rgb(238, 238, 238) !important;
  border-color: rgb(204, 204, 204) !important;
  color: rgb(204, 204, 204) !important;
  cursor: not-allowed !important;
}
button.primary {
  background-color: #1238de;
  border-color: #1238de;
  color: white;
}
button.ghost {
  border: 0.02rem solid white;
  background: rgba(0, 0, 0, 0);
  color: white;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: gray;
}

body::-webkit-scrollbar {
  width: 2px;
  background-color: gray;
}

body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #1c1d1f;
}

body > a:first-of-type {
  display: none;
}

@font-face {
  font-family: 'OpenSans';
  src: url(/font/OpenSans-Regular.ttf);
}
@font-face {
  font-family: 'OpenSans italic';
  src: url(/font/OpenSans-Italic.ttf);
}
@font-face {
  font-family: 'Bungee';
  src: url(/font/Bungee-Regular.ttf);
}
@font-face {
  font-family: 'IBMPlexSans';
  src: url(/font/IBMPlexSans-Regular.ttf);
}
@font-face {
  font-family: 'IBMPlexSans bold';
  src: url(/font/IBMPlexSans-Bold.ttf);
}
@font-face {
  font-family: 'IBMPlexSans light';
  src: url(/font/IBMPlexSans-Light.ttf);
}
@font-face {
  font-family: 'IBMPlexSans medium';
  src: url(/font/IBMPlexSans-Medium.ttf);
}
@font-face {
  font-family: 'Lexend';
  src: url(/font/Lexend-Regular.ttf);
}
@font-face {
  font-family: 'Lexend bold';
  src: url(/font/Lexend-Bold.ttf);
}
@font-face {
  font-family: 'Lexend light';
  src: url(/font/Lexend-Light.ttf);
}
@font-face {
  font-family: 'Lexend medium';
  src: url(/font/Lexend-Medium.ttf);
}

html {
  font-size: 12.16%;
}

@media (min-width: 373.98px) {
  html {
    font-size: 12.16%;
  }
}

@media (min-width: 473.98px) {
  html {
    font-size: 15.43%;
  }
}

@media (min-width: 575.98px) {
  html {
    font-size: 18.75%;
  }
}

@media (min-width: 767.98px) {
  html {
    font-size: 25%;
  }
}

@media (min-width: 991.98px) {
  html {
    font-size: 32.29%;
  }
}

@media (min-width: 1199.98px) {
  html {
    font-size: 39%;
  }
}

@media (min-width: 1399.98px) {
  html {
    font-size: 45.57%;
  }
}

@media (min-width: 1669.98px) {
  html {
    font-size: 54.36%;
  }
}

@media (min-width: 1779.98px) {
  html {
    font-size: 62.5%;
  }
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
input[type='number'] {
  -moz-appearance: textfield;
}
